@font-face {
  font-family: "League Spartan";
  src: url('../LeagueSpartan-VF.ttf');
}

.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 80px 0% 0% 0%;
  font-family: "League Spartan", sans-serif;
}
