@import url("http://fonts.cdnfonts.com/css/league-spartan");


.nav {
  position: fixed;
  margin: -80px 0% 0% 0%;
  width: 100%;
  height: 80px;
  background-color: rgb(253, 197, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  z-index: 1;
  font-weight: bold;
}

.logo {
  max-width: 10%;
  position: absolute;
  left: -0px;
  margin: 0 auto;
  transform: translate(0px, -50%);
}

.pb {
  position: fixed;
  left: 95%;
}

.darkButton {
  position: fixed;
}

a {
  color: rgb(227, 100, 20);
  justify-content: center;

  text-decoration: none;
  font-size: 25px;
  font-family: "League Spartan", sans-serif;
}
