.sidenav {
    margin: -40px 0% 0% 0%;
    width: 40%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
  } 

/*
.sidenav {
  margin: 80px 0% 0% 0%;
  width: 160px; 
  height: 100%; 
  background-color: rgb(220, 220, 220); 
  position: fixed;
  top: 0;
  left: 0;
  float: left;
}
*/
